body{
    display: flex;
    flex-direction: column;
}

title{
    font-size: xx-large;
    color: #0da10d;
    font-weight: 900;
    display: flex;
}
p{
    display: flex;
}
nav{
    align-items: center;
    display: flex;
    background-color: #0da10d;
    width: 100vw;
    height: 8vh;
    font-size: large;
    gap: 20px;
}
.contnav{
    margin: 30px;
    display: flex;
    color: white;
   
    
}
section{
    width: 100vw;
    height: 65vh;
    display: flex;
    font-weight: 200;
}
footer{
    display: flex;
    font-weight: 800;
    color: white;
    background-color: black;
    width: 100vw;
    height: 12vh;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
}